.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #0056b3;
  }
  
  .pagination button:not(.active):hover {
    background-color: #0056b3;
  }
  
  .pagination li {
    list-style: none;
    display: inline-block;
    margin: 0 2px;
  }
  
  .pagination li:not(.active) {
    font-size: 1.2em;
  }
  